<%= form_with(model: financingtype, local: true) do |form| %>
  <% if financingtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(financingtype.errors.count, "error") %> prohibited this financingtype from being saved:</h2>

      <ul>
        <% financingtype.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :month %>
    <%= form.text_field :month %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.text_field :region %>
  </div>

  <div class="field">
    <%= form.label :area_code %>
    <%= form.text_field :area_code %>
  </div>

  <div class="field">
    <%= form.label :average_price %>
    <%= form.text_field :average_price %>
  </div>

  <div class="field">
    <%= form.label :cash_price %>
    <%= form.text_field :cash_price %>
  </div>

  <div class="field">
    <%= form.label :mortgage_price %>
    <%= form.text_field :mortgage_price %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.text_field :location_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
