   

<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @housingtypeprice.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @housingtypeprice.year %>
</p>

<p>
  <strong>Region:</strong>
  <%= @housingtypeprice.region %>
</p>

<p>
  <strong>Area code:</strong>
  <%= @housingtypeprice.area_code %>
</p>

<p>
  <strong>Detached:</strong>
  <%= @housingtypeprice.detached %>
</p>

<p>
  <strong>Semidetached:</strong>
  <%= @housingtypeprice.semidetached %>
</p>

<p>
  <strong>Terraced:</strong>
  <%= @housingtypeprice.terraced %>
</p>

<p>
  <strong>Flat:</strong>
  <%= @housingtypeprice.flat %>
</p>

<p>
  <strong>Locations:</strong>
  <%= @housingtypeprice.location_id %>
</p>

<%= link_to 'Edit', edit_housingtypeprice_path(@housingtypeprice) %> |
<%= link_to 'Back', housingtypeprices_path %>
