<p id="notice"><%= notice %></p>

<h1>Locations</h1>


<div class="table-responsive"> 
 <table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Region</th>
      <th>Area code</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.region %></td>
        <td><%= location.area_code %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'JSON', location_path(location, :format => "json")%></td> <!-----link to render json view for each location---->
      </tr>
    <% end %>
  </tbody>
 </table>
</div>
<br>
<!---pagination for locations page---->
<div>  
  <% 1.upto((Location.count/LocationsController::LOCATIONS_PER_PAGE) + 1) do |i| %>
      <%= link_to i.to_s + " | ",locations_path(page: i ) %>
  <% end %>

</div>

<%= link_to 'New Location', new_location_path %>
