<!DOCTYPE html>
<html lang="en">
  <head>
      
    <title>Housing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name ="viewport" content="width=device-width, initial-scale=1"%>  
  </head>

  <body>
      
      <header class="container">
      <nav class= "navbar navbar-default">
          <div class= navbar-header">
            <%= link_to "Home", root_path %>
            <%= link_to "Locations", locations_path %>
            <a href="/locations?filter_by_region=scotland">Scotland</a>
            <a href="/locations?filter_by_region=england">England</a>
            <a href="/locations?filter_by_region=wales">Wales</a>
            <a href="/locations?filter_by_region=northern_ireland">Northern Ireland</a>
            <a href="/locations?filter_by_region=combined_areas">Combined regions per UK government</a>
          </div>  
      </nav>
      </header>
      <%= yield %>
   </body>
</html>
